.game-display {
    display: flex;
    flex-direction: row;
    /* background-color: gray; */
    color: white;
    font-family: sans-serif;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
}

.game-view {
  display: flex;
  flex-direction: row;
  padding: 2px;
  margin: 5px;
  border: 1px solid gainsboro;
  border-radius: 2px;
}
.game-view p {
  padding-left: 5px;
  padding-right: 5px;
}

.game-info {
   color:black;
  background-color: white;
}
.game-info a {
  text-decoration:none;
  color:black;
  background-color: white;
}
.game-info:link{
  color: black;
}
.game-info:visited{
  color: black;
}

.game-info a:hover {
  color: red;
  font-weight: 200;
}

.team-display {
  display: grid;
  column-gap: 10px;
  row-gap: 10px;
  grid-template-columns: 15% 15% 15% 15% 15% 15%;
  justify-content: space-evenly;
  grid-auto-flow: row;
  justify-content:center;
}

.team-view {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px black solid;
  border-radius: 10px;
  text-align: center;
  background-color: whitesmoke;
}

.team-badge {
  max-width: 40%;
  margin: 3%;
  padding: 0px;
}
.team-badge:hover {
  max-width: 50%;
  margin: 0%;
}

.team-links {
  display: flex; 
  list-style-type: none;
  padding: 0px;
}

.team-links li {
  display: inline;
}
.team-element {
  margin: 5px;
}

.team-icons {
  color: black;
  min-width: 20px ;
  min-height: 20px ;
}

.team-icons:hover {
  color: red;
}
.team-icons:visited {
  color: slategray;
}

.roster-display {
  display: flex;
  flex: 20 20 20 20 ;
  flex-wrap: wrap;
  justify-content: space-evenly;
  flex-direction: row;
}
.roster-display .col {
  width: 30%;
  margin: 1%;
}

.roster-view {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px black solid;
  border-radius: 10px;
  text-align: center;
  background-color: whitesmoke;
}

.player-pic{
  max-width: 40%;
  margin: 3%;
  padding: 0px;
}
.player-name {
  font-family: sans-serif;
  margin:auto;
}

.split-view {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 20px;
    padding: 20;
    text-align: center;
    font-family: sans-serif;
}

.home-button {
  padding: 10px;
  margin: 10px;
  background-color: white;
  text-align: center;
  font-family: sans-serif;
  text-decoration:none;
}

.home-button a {
  text-decoration:none;
  color: black;
}
.home-button:link{
  color: black;
}
.home-button:visited{
  color: black;
}

.home-button a:hover {
  color: red;
  font-weight: 200;
}

.bottom-view{
  display: flex;
  justify-content: center; 
}

.equipment-cards{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  flex-direction: row;
}

.equipment-cards .col {
  width: 15%;
  margin: 1%;
}

.equipment-card {
  border: 1px black solid;
  background-color: white;
  border-radius: 10px ;
  margin: 2%;
  padding: 2%;
  justify-content: center;
  align-content: center;
  text-align: center;
  display: block;
}
.gearpic {
  max-width: 90%;
  margin: 5%;
}

.game-element {
  padding: 2px;
  margin: 5px;
}
.next-game-element {
  display: inline-flex;
  padding: 2px;
  margin: 5px;
}
.footer {
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: white;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.footer-stuff {
  display: inline-flex;
  margin: 2px;
  padding: 2px;
}
.future-schedule {
  color: black;
  display: block;
  text-align: center;
  font-family: sans-serif;
}

@media screen and (max-width: 992px) {
  .roster-display .col {
  width: 40%;
  margin: 1%;
  }
  .split-view {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      margin: 20px;
      padding: 20;
      align-content: center;
      justify-content: center;
      text-align: center;
  }
  .footer {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .footer-stuff {
    margin: 2px;
    padding: 2px;
    
  }
  .team-display {
    display: grid;
    row-gap: 10px;
    grid-template-columns: 80%;
    grid-auto-flow: row;
    justify-content:center;
  }
  .team-view {
    /* min-width: 1%; */
  }
}