* {
  border: 1px black solid;
  /* padding: 2px; */
}
.container {
  display: grid
}

.game-display {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.team-display {
  display: grid;
  gap: 10px;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-auto-flow: row;
}
.team-view {
  display: block;
  align-items: center;
}
.team-links li {
  display: inline;
}
.team-badge{
  max-width: 40px;
}